.note-edit input {
    width: 100%;
    border: 1px solid darkgrey;
    background-color: inherit;
    padding: 0.25em;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.edit-btn-container {
    padding-left: 30%;
    padding-right: 30%;
}

.update-btn:hover {
    color: green;

}
.cancel-btn:hover {
    color: red;
}